body {
	font-family: sans-serif;
}

button,
input[type=submit] {
	padding: 2px;
	background-color: #ccc;
	border: 1px solid #ccc;
	border-radius: 2px;
}

button.primary,
input[type=submit].primary {
	background-color: #2980b9;
	border: 1px solid #2980b9;
	color: #fff;
}

button.success,
input[type=submit].success {
	background-color: #27ae60;
	border: 1px solid #27ae60;
	color: #fff;
}

input[type=text] {
	padding: 2px;
	border: 1px solid #ddd;
	border-radius: 2px;
	display: block;
	margin-bottom: 4px;
}

a {
	text-decoration: none;
	color: #38a;
}

a:visited {
	color: #278;
}
a:hover {
	text-decoration: underline;
}

.col {
	float:left;
}

.c2 {
	width: 47.4%;
	margin-right: 2%;
}

.c3 {
	width: 31.5%;
	margin-right: 1.8%;
}

.c4 {
	width: 23.5%;
	margin-right: 1.4%;
}

.center {
	text-align: center;
}